header{
    background-color: lightsteelblue;
    border: 15px solid white;
    border-radius: 10px;
}

body {
    background-color: lightgray;
}

h2, h3{
    color: rgb(43, 42, 42);
}
h3{
    text-align: center;
    border: 2px solid lightslategrey;
    border-radius: 5px;
    background-color: rgb(197, 210, 226);
}

img{
    border: 5px solid white;
    border-radius: 2px;
}

h2{
    text-align: center;
    border: 3px solid rgb(104, 100, 122);
    border-radius: 10px;
    background-color: rgb(197, 210, 226);
}
p{
    text-align: center;
}