body {
    background-color: #FFF5E9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    background-color: #FFD16D;
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    border: 2px solid #D55100;
    border-radius: 5px;
    /* position: sticky;
    top: 0; */
    list-style: none;
    align-items: center;
    font-weight: bold;
}

.header li{
    display: inline-block;
    margin-right: 35px;
}

.link:hover{
 color:#D55100 ;
}

footer{
    background-color: #FFD16D;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    border: 2px solid #D55100;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: white;
}

h2{
    color: rgb(43, 42, 42);
    text-align: center;
    border: 2px solid lightslategrey;
    border-radius: 3px;
    background-color: #FFE8D1;
    padding-left: 10mm;
    margin-left: 170px;
    margin-right: 170px;
}

.imagenes{
    margin-left: 30px;
    border: 5px solid white;
    border-radius: 2px;
}
.img{
    border: 5px solid white;
    border-radius: 2px;
    margin-left: 200px;
}


.primerp {
    text-align: center;
    letter-spacing: 1mm;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 30px;
}
.segundop{
    text-align: center;
    letter-spacing: 1mm;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 30px;
}

.segundop strong{
    font-size: 25px;
}
strong{
    font-weight: bold;
}
.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px ;
}

.social-link.facebook{
   background-image: url("Imagen/facebook.png");
   margin-left: 650px;
}

.social-link.instagram{
    background-image: url("Imagen/instagram.png");
}